<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ page_title }}{% endblock %}</title>
         <link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet" />
        <script src="{{ asset('js/indicator.js') }}" type="text/javascript" defer></script> 

        {% block stylesheets %}
        {% endblock %}

    </head>
    <body>
        {{ include('NavBar.html.twig') }}
        {% block body %}{% endblock %}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
