<nav>
    <div class="logo">
        <img src="{{ asset('img/logo.png') }}" alt="logo">
        <span>FOX Theater</span>
    </div>
    <div class="menu">
        <div id="marker"></div>
        <a href="{{ path('accueil') }}">Accueil</a>
        <a href="{{ path('films') }}">Films</a>
        <a href="{{ path('seance_index') }}">Séances</a>
    </div>
</nav>